.body {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  display:flex;
}

.left {
  flex: 1;
  border: 1px solid black;
}

.right {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.top-right {
  height: 80%;
  border: 1px solid black;
}

.bottom-right {
  height: 20%;
  border: 1px solid black;
}

#test-list {
  padding: 10px;
}

#test-list-title {
  text-align: center;
}

#setting {
  padding: 10px;
}

#log-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
}

#log {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  text-overflow: ellipsis;
}

.test-item {
  padding: 3px;
}

.test-item > span {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.test-state-active {
  color: orange;
}

.test-state-passed {
  color: green;
}

.test-state-failed {
  color: red;
}

.test-state-untested {
  color: black;
}
